* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #03224c;
    ;
    /* width: 1410px; */
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        gap: 20px;
     

    }

    height: 100px;
li{
    list-style: none;
 
}
a {
    text-decoration: none;
    color: #fff;
}


}


#propos {
    img {
        width: 333px;
        margin: 26px;


    }

    div {
        display: flex;
        align-items: anchor-center;
    }

    h2 {
        justify-self: center;
    }

    font-size: 24px;
}

.hero {
    height: 64vh;
    background: radial-gradient(#021836, #021834b8), url(https://images.unsplash.com/photo-1590658093848-f6f0df47b853?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    /* width: 1400px; */


}

.Actuellement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #03224c;
    /* width: 1400px; */
    height: 91px;
    background: #00357da3;
    padding: 32px 24px;
}

.COMPETENCES {
    text-align: -webkit-center;

    
    
}



#port {
    justify-self: center;
    margin-bottom: 187px;
    margin-block: 117px;
    
h2{
    justify-self: center;
    margin-bottom: 3%;
}

    }


.form {
    justify-self: center;
    margin-bottom: 187px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin: 42px;

    
}

.carte {
    width: 50%;
    border-radius: 30px;
    box-shadow: 3px 2px 8px 3px rgb(43 43 46 / 20%);

    img {
        width: 100%;
        border-radius: 30px 30px 0px 0px;
    }

    h4,
    p,
    button {
        margin-bottom: 10px;
        ;
        
    }

    button {
        background-color: #17a2b8;;
        color: whitesmoke;
        border-radius: 10px;
        height: 50px;
        width: 30%;
        
       
    }
    a{
        text-decoration: none;
        color: white;
    }
}


#textcard {
    padding: 20px;


}

#parent {
    display: flex;
    margin: 0 50px;
    gap: 45px;
}

#tact {
    justify-self: center;
    margin: 99px;
}


.form {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 31px;
    *{
        margin-bottom: 2%;
    }
    div{
        display: flex;
        flex-direction: column;
    }

    button {
        background-color: #17a2b8;
        color: #fff;
        border: 1px solid #17a2b8;
        cursor: pointer;
        width: -webkit-fill-available;
        height: 37px;
    }
   
    }



#Contact {
    text-align: center;
    font-size: 20px;

}

hr {
    margin: 10px 0;
    background-color: #ccc;
    border: 0;
    height: 1px;
    width: 100%;
}

footer {
    background-color: #03224c;
    background-color: #03224c;
    ;
    /* width: 1410px; */
    display: flex;
    justify-content: space-between;
    height: 100px;

}
#case{
    height: 149px
}
#apprentissage{
    font-size: 23px;
    margin-bottom: 38px;
}
#cours{
    font-size: larger;
}
.Compétences {
    margin-bottom: 102px;
   
}
#skill{
    display: flex;
    justify-content: space-around;
    margin-bottom: 86px;
}
@media only screen and (max-width: 600px)
